body {
    background-color: gainsboro;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 0 2px #000;
    border-radius: 10px;
    background-color: lightblue;
    color: #000;
    font-weight: bold;
}

a:hover {
    background-color: rgb(93, 195, 230);
    box-shadow: 0 0 10px #000;
}